doctype html
html
	head
		title W3.CSS Template
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway')
		style.
			body,
			h1,
			h2 {
			font-family: "Raleway", sans-serif
			}
			body,
			html {
			height: 100%
			}
			p {
			line-height: 2
			}
			.bgimg,
			.bgimg2 {
			min-height: 100%;
			background-position: center;
			background-size: cover;
			}
			.bgimg {
			background-image: url("/w3images/wedding_couple.jpg")
			}
			.bgimg2 {
			background-image: url("/w3images/flowers.jpg")
			}
	body
		// Header / Home
		header#home.w3-display-container.w3-wide.bgimg.w3-grayscale-min
			.w3-display-middle.w3-text-white.w3-center
				h1.w3-jumbo Jane & John
				h2 Are getting married
				h2
					b 17.07.2017
		// Navbar (sticky bottom)
		.w3-bottom.w3-hide-small
			.w3-bar.w3-white.w3-center.w3-padding.w3-opacity-min.w3-hover-opacity-off
				a.w3-bar-item.w3-button(href='#home', style='width:25%') Home
				a.w3-bar-item.w3-button(href='#us', style='width:25%') Jane & John
				a.w3-bar-item.w3-button(href='#wedding', style='width:25%') Wedding
				a.w3-bar-item.w3-button.w3-hover-black(href='#rsvp', style='width:25%') RSVP
		// About / Jane And John
		#us.w3-container.w3-padding-64.w3-pale-red.w3-grayscale-min
			.w3-content
				h1.w3-center.w3-text-grey
					b Jane & John
				img.w3-round.w3-grayscale-min(src='/w3images/wedding_couple2.jpg', style='width:100%;margin:32px 0')
				p
					i
						| You all know us. And we all know you. We are getting married lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
						| occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
						| laboris nisi ut aliquip ex ea commodo consequat.
				br
				p.w3-center
					a.w3-button.w3-black.w3-round.w3-padding-large.w3-large(href='#wedding') Wedding Details
		// Background photo
		.w3-display-container.bgimg2
			.w3-display-middle.w3-text-white.w3-center
				h1.w3-jumbo You Are Invited
				br
				h2 Of course..
		// Wedding information
		#wedding.w3-container.w3-padding-64.w3-pale-red.w3-grayscale-min.w3-center
			.w3-content
				h1.w3-text-grey
					b THE WEDDING
				img.w3-round-large.w3-grayscale-min(src='/w3images/wedding_location.jpg', style='width:100%;margin:64px 0')
				.w3-row
					.w3-half
						h2 When
						p Wedding Ceremony - 2:00pm
						p Reception & Dinner - 5:00pm
					.w3-half
						h2 Where
						p Some place, an address
						p Some where, some address
		// RSVP section
		#rsvp.w3-container.w3-padding-64.w3-pale-red.w3-center.w3-wide
			h1 HOPE YOU CAN MAKE IT!
			p.w3-large Kindly Respond By January, 2017
			p.w3-xlarge
				button.w3-button.w3-round.w3-red.w3-opacity.w3-hover-opacity-off(onclick="document.getElementById('id01').style.display='block'", style='padding:8px 60px') RSVP
		// RSVP modal
		#id01.w3-modal
			.w3-modal-content.w3-card-4.w3-animate-zoom(style='padding:32px;max-width:600px')
				.w3-container.w3-white.w3-center
					h1.w3-wide CAN YOU COME?
					p We really hope you can make it.
					form
						input.w3-input.w3-border(type='text', placeholder='Name(s)', name='name')
					p
						i Sincerely, John & Jane
					.w3-row
						.w3-half
							button.w3-button.w3-block.w3-green(onclick="document.getElementById('id01').style.display='none'", type='button') Going
						.w3-half
							button.w3-button.w3-block.w3-red(onclick="document.getElementById('id01').style.display='none'", type='button') Can't come
		// Footer
		footer.w3-center.w3-black.w3-padding-16
			p
				| Powered by 
				a.w3-hover-text-green(href='https://www.w3schools.com/w3css/default.asp', title='W3.CSS', target='_blank') w3.css
		.w3-hide-small(style='margin-bottom:32px')  
