doctype html
html
	head
		title Black Horse Technologies
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
		style.
			body,
			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
			font-family: "Raleway", sans-serif
			}
			body,
			html {
			height: 100%;
			line-height: 1.8;
			}
			/* Full height image header */
			.bgimg-1 {
			background-position: center;
			background-size: cover;
			background-image: url("/w3images/mac.jpg");
			min-height: 100%;
			}
			.w3-bar .w3-button {
			padding: 16px;
			}
	body
		// Navbar (sit on top)
		.w3-top
			#myNavbar.w3-bar.w3-white.w3-card
				a.w3-bar-item.w3-button.w3-wide(href='#home') Black Horse Technologies
				// Right-sided navbar links
				.w3-right.w3-hide-small
					a.w3-bar-item.w3-button(href='#about') SOBRE  NOSOTROS
					a.w3-bar-item.w3-button(href='#team')
						i.fa.fa-user
						|  NUESTRO EQUIPO
					//- a.w3-bar-item.w3-button(href='#work')
					//- 	i.fa.fa-th
					//- 	|  CATÁLOGO
					//- a.w3-bar-item.w3-button(href='#pricing')
					//- 	i.fa.fa-usd
					//- 	|  PLANES
					a.w3-bar-item.w3-button(href='#contact')
						i.fa.fa-envelope
						|  CONTACTO
				// Hide right-floated links on small screens and replace them with a menu icon
				a.w3-bar-item.w3-button.w3-right.w3-hide-large.w3-hide-medium(href='javascript:void(0)', onclick='w3_open()')
					i.fa.fa-bars
		// Sidebar on small screens when clicking the menu icon
		nav#mySidebar.w3-sidebar.w3-bar-block.w3-black.w3-card.w3-animate-left.w3-hide-medium.w3-hide-large(style='display:none')
			a.w3-bar-item.w3-button.w3-large.w3-padding-16(href='javascript:void(0)', onclick='w3_close()') Cerrar ×
			a.w3-bar-item.w3-button(href='#about', onclick='w3_close()') SOBRE NOSOTROS
			a.w3-bar-item.w3-button(href='#team', onclick='w3_close()') NUESTRO EQUIPO
			//- a.w3-bar-item.w3-button(href='#work', onclick='w3_close()') CATÁLOGO
			//- a.w3-bar-item.w3-button(href='#pricing', onclick='w3_close()') PLANES
			a.w3-bar-item.w3-button(href='#contact', onclick='w3_close()') CONTACTO
		// Header with full-height image
		header#home.bgimg-1.w3-display-container.w3-grayscale-min
			.w3-display-left.w3-text-white(style='padding:48px')
				span.w3-jumbo.w3-hide-small Digitaliza tu negocio
				br
				span.w3-xxlarge.w3-hide-large.w3-hide-medium Digitaliza tu negocio
				br
				span.w3-large Dedícate a lo importante, nosotros gestionamos tus tecnologías.
				p
					a.w3-button.w3-white.w3-padding-large.w3-large.w3-margin-top.w3-opacity.w3-hover-opacity-off(href='#about') Comienza ahora
			.w3-display-bottomleft.w3-text-grey.w3-large(style='padding:24px 48px')
				i.fa.fa-facebook-official.w3-hover-opacity
				i.fa.fa-instagram.w3-hover-opacity
				i.fa.fa-snapchat.w3-hover-opacity
				i.fa.fa-pinterest-p.w3-hover-opacity
				i.fa.fa-twitter.w3-hover-opacity
				i.fa.fa-linkedin.w3-hover-opacity
		// About Section
		#about.w3-container(style='padding:128px 16px')
			h3.w3-center SOBRE NOSOTROS
			p.w3-center.w3-large Somos una empresa dedicada a la terciarización de la gestión de TI para PyMes y nuevos emprendimientos
			p.w3-center.w3-large Queremos que te dediques a tu negocio, mientras nos encargamos de digitalizar tu empresa y gestionar tus tecnologías			
			p.w3-center.w3-large Implementaremos tecnología a la medida de tus necesidades, para que puedas alcanzar tus metas a corto plazo.
			.w3-row-padding.w3-center(style='margin-top:64px')
				.w3-quarter
					i.fa.fa-desktop.w3-margin-bottom.w3-jumbo.w3-center
					p.w3-large Presencia Web
					p
						| El primer paso para que tu empresa de el salto a la digitalización comienza por la Web.  En el mundo actual, si una empresa no está en Internet, es como si no existiera, queremos ayudarte a tener presencia en la red, para que tus clientes te puedan encontrar y así acceder a tus productos y/o servicios.
				.w3-quarter
					i.fa.fa-thumbs-o-up.w3-margin-bottom.w3-jumbo
					p.w3-large Gestión de Redes Sociales
					p
						| Es de vital importancia que tus redes sociales sean administradas de forma profesional.  Nuestro objetivo es ayudarte a mejorar la imagen de tu marca, mejorar la atención a tus clientes, distribuir mejores contenidos y multiplicar tu alcance y relevancia. Al final, tu presencia en redes sociales se traduce en mayores ingresos para tu empresa.
				.w3-quarter
					i.fa.fa-cogs.w3-margin-bottom.w3-jumbo
					p.w3-large Software a Medida
					p
						| Sabemos que tu negocio es único, por lo tanto requiere soluciones a medida, nos encargaremos de desarrollar y administrar el software que te ayudará a implementar tu infraestructura tecnológica. Queremos que tu única preocupación sea hacer crecer tu negocio.
				.w3-quarter
					i.fa.fa-handshake-o.w3-margin-bottom.w3-jumbo
					p.w3-large Consultoría en TI
					p
						| Cuéntanos sobre ti, de tu negocio y sus necesidades,  estamos seguros de que podemos ayudarte con tus problemas, a través de la implementación de tecnologías en tu empresa.  Nuestro personal tiene amplia experiencia en la gestión de TI en el sector público y privado, ponemos todo ese conocimiento a tu servicio. 
		// Promo Section - "We know design"
		.w3-container.w3-light-grey(style='padding:128px 16px')
			.w3-row-padding
				.w3-col.m6
					h3 Somos tu Departamento de Tecnologías  
					p
						| Cuenta con nosotros para gestionar las tecnologías de tu empresa y tus nuevos proyectos
						br
						| No te preocupes por la parte técnica,  concentra tus esfuerzos en lo que realmente importa, tu negocio.
					//- p
					//- 	a.w3-button.w3-black(href='#work')
					//- 		i.fa.fa-th  
					//- 		|  Elige un diseño
				.w3-col.m6
					img.w3-image.w3-round-large(src='/w3images/phone_buildings.jpg', alt='Buildings', width='700', height='394')
		// Team Section
		#team.w3-container(style='padding:128px 16px')
			h3.w3-center NUESTRO EQUIPO
			p.w3-center.w3-large Conoce a los miembros de nuestro equipo,  estamos para atender tus necesidades
			.w3-row-padding.w3-grayscale(style='margin-top:64px')
				.w3-col.l3.m6.w3-margin-bottom
					.w3-card
						img(src='/w3images/team2.jpg', alt='John', style='width:100%')
						.w3-container
							h3 Nelson Camacho Bellot
							p.w3-opacity Asesor en Tecnologías Web y RRSS
							p
								| Soy especialista en telecomunicaciones, gestión de contenidos para web  y redes sociales. Trabajé en la gestión e implementación de infraestructura, redes de comunicación y centros de datos para empresas públicas y privadas. 
							p
								a(href="https://api.whatsapp.com/send?phone=59176559340&text=Saludos%20BHT")
									button.w3-button.w3-light-grey.w3-block
										i.fa.fa-whatsapp
										|  Hablemos
				.w3-col.l3.m6.w3-margin-bottom
					.w3-card
						img(src='/w3images/team1.jpg', alt='Jane', style='width:100%')
						.w3-container
							h3 Gabriel Illanes Burgoa
							p.w3-opacity Asesor en Tecnologías Proyectos de Software
							p
								| Soy especialista en desarrollo y control de calidad de software. Trabajé en equipos de desarrollo e implementación de sistemas informáticos para empresas gubernamentales en diferentes tecnologías y dispositivos de control.
							p
								a(href="https://api.whatsapp.com/send?phone=59169950360&text=Saludos%20BHT")
									button.w3-button.w3-light-grey.w3-block
										i.fa.fa-whatsapp
										|  Hablemos
				//- .w3-col.l3.m6.w3-margin-bottom
				//- 	.w3-card
				//- 		img(src='/w3images/team3.jpg', alt='Mike', style='width:100%')
				//- 		.w3-container
				//- 			h3 Mike Ross
				//- 			p.w3-opacity Web Designer
				//- 			p
				//- 				| Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
				//- 			p
				//- 				button.w3-button.w3-light-grey.w3-block
				//- 					i.fa.fa-envelope
				//- 					|  Contact
				//- .w3-col.l3.m6.w3-margin-bottom
				//- 	.w3-card
				//- 		img(src='/w3images/team4.jpg', alt='Dan', style='width:100%')
				//- 		.w3-container
				//- 			h3 Trabajemos juntos
				//- 			p.w3-opacity Buscamos apasionados por la tecnología
				//- 			p
				//- 				| Cuéntanos sobre ti, tus habilidades, tus proyectos y metas. Estamos seguros de que podemos trabajar juntos.
				//- 			p
				//- 				button.w3-button.w3-light-grey.w3-block
				//- 					i.fa.fa-envelope
				//- 					|  Mandar CV
		//- // Promo Section "Statistics"
		//- .w3-container.w3-row.w3-center.w3-dark-grey.w3-padding-64
		//- 	.w3-quarter
		//- 		span.w3-xxlarge 14+
		//- 		br
		//- 		| Partners
		//- 	.w3-quarter
		//- 		span.w3-xxlarge 55+
		//- 		br
		//- 		| Projects Done
		//- 	.w3-quarter
		//- 		span.w3-xxlarge 89+
		//- 		br
		//- 		| Happy Clients
		//- 	.w3-quarter
		//- 		span.w3-xxlarge 150+
		//- 		br
		//- 		| Meetings
		//- // Work Section
		//- #work.w3-container(style='padding:128px 16px')
		//- 	h3.w3-center CATÁLOGO WEB
		//- 	p.w3-center.w3-large Escoge un modelo para la web de tu empresa
		//- 	.w3-row-padding(style='margin-top:64px')
		//- 		.w3-col.l3.m6
		//- 			img.w3-hover-opacity(src='/w3images/tech_mic.jpg', style='width:100%', onclick='onClick(this)', alt='A microphone')
		//- 		.w3-col.l3.m6
		//- 			img.w3-hover-opacity(src='/w3images/tech_phone.jpg', style='width:100%', onclick='onClick(this)', alt='A phone')
		//- 		.w3-col.l3.m6
		//- 			img.w3-hover-opacity(src='/w3images/tech_drone.jpg', style='width:100%', onclick='onClick(this)', alt='A drone')
		//- 		.w3-col.l3.m6
		//- 			img.w3-hover-opacity(src='/w3images/tech_sound.jpg', style='width:100%', onclick='onClick(this)', alt='Soundbox')
		//- 	.w3-row-padding.w3-section
		//- 		.w3-col.l3.m6
		//- 			img.w3-hover-opacity(src='/w3images/tech_tablet.jpg', style='width:100%', onclick='onClick(this)', alt='A tablet')
		//- 		.w3-col.l3.m6
		//- 			img.w3-hover-opacity(src='/w3images/tech_camera.jpg', style='width:100%', onclick='onClick(this)', alt='A camera')
		//- 		.w3-col.l3.m6
		//- 			img.w3-hover-opacity(src='/w3images/tech_typewriter.jpg', style='width:100%', onclick='onClick(this)', alt='A typewriter')
		//- 		.w3-col.l3.m6
		//- 			img.w3-hover-opacity(src='/w3images/tech_tableturner.jpg', style='width:100%', onclick='onClick(this)', alt='A tableturner')
		//- // Modal for full size images on click
		//- #modal01.w3-modal.w3-black(onclick="this.style.display='none'")
		//- 	span.w3-button.w3-xxlarge.w3-black.w3-padding-large.w3-display-topright(title='Close Modal Image') ×
		//- 	.w3-modal-content.w3-animate-zoom.w3-center.w3-transparent.w3-padding-64
		//- 		img#img01.w3-image
		//- 		p#caption.w3-opacity.w3-large
		//- // Skills Section
		//- .w3-container.w3-light-grey.w3-padding-64
		//- 	.w3-row-padding
		//- 		.w3-col.m6
		//- 			h3 Estas son nuestras habilidades.
		//- 			p
		//- 				| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
		//- 				br
		//- 				|  tempor incididunt ut labore et dolore.
		//- 			p
		//- 				| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
		//- 				br
		//- 				|  tempor incididunt ut labore et dolore.
		//- 		.w3-col.m6
		//- 			p.w3-wide
		//- 				i.fa.fa-desktop.w3-margin-right
		//- 				| Diseño Web y Gestión de Redes Sociales
		//- 			.w3-grey
		//- 				.w3-container.w3-dark-grey.w3-center(style='width:90%') 90%
		//- 			p.w3-wide
		//- 				i.fa.fa-desktop.w3-margin-right
		//- 				| Desarrollo de Software
		//- 			.w3-grey
		//- 				.w3-container.w3-dark-grey.w3-center(style='width:85%') 85%
		//- 			p.w3-wide
		//- 				i.fa.fa-photo.w3-margin-right
		//- 				| Implementación de TI
		//- 			.w3-grey
		//- 				.w3-container.w3-dark-grey.w3-center(style='width:75%') 75%
		//- // Pricing Section
		//- #pricing.w3-container.w3-center.w3-dark-grey(style='padding:128px 16px')
		//- 	h3 PRECIOS
		//- 	p.w3-large Choose a pricing plan that fits your needs.
		//- 	.w3-row-padding(style='margin-top:64px')
		//- 		.w3-third.w3-section
		//- 			ul.w3-ul.w3-white.w3-hover-shadow
		//- 				li.w3-black.w3-xlarge.w3-padding-32 Basic
		//- 				li.w3-padding-16
		//- 					b 10GB
		//- 					|  Storage
		//- 				li.w3-padding-16
		//- 					b 10
		//- 					|  Emails
		//- 				li.w3-padding-16
		//- 					b 10
		//- 					|  Domains
		//- 				li.w3-padding-16
		//- 					b Endless
		//- 					|  Support
		//- 				li.w3-padding-16
		//- 					h2.w3-wide $ 10
		//- 					span.w3-opacity per month
		//- 				li.w3-light-grey.w3-padding-24
		//- 					button.w3-button.w3-black.w3-padding-large Sign Up
		//- 		.w3-third
		//- 			ul.w3-ul.w3-white.w3-hover-shadow
		//- 				li.w3-red.w3-xlarge.w3-padding-48 Pro
		//- 				li.w3-padding-16
		//- 					b 25GB
		//- 					|  Storage
		//- 				li.w3-padding-16
		//- 					b 25
		//- 					|  Emails
		//- 				li.w3-padding-16
		//- 					b 25
		//- 					|  Domains
		//- 				li.w3-padding-16
		//- 					b Endless
		//- 					|  Support
		//- 				li.w3-padding-16
		//- 					h2.w3-wide $ 25
		//- 					span.w3-opacity per month
		//- 				li.w3-light-grey.w3-padding-24
		//- 					button.w3-button.w3-black.w3-padding-large Sign Up
		//- 		.w3-third.w3-section
		//- 			ul.w3-ul.w3-white.w3-hover-shadow
		//- 				li.w3-black.w3-xlarge.w3-padding-32 Premium
		//- 				li.w3-padding-16
		//- 					b 50GB
		//- 					|  Storage
		//- 				li.w3-padding-16
		//- 					b 50
		//- 					|  Emails
		//- 				li.w3-padding-16
		//- 					b 50
		//- 					|  Domains
		//- 				li.w3-padding-16
		//- 					b Endless
		//- 					|  Support
		//- 				li.w3-padding-16
		//- 					h2.w3-wide $ 50
		//- 					span.w3-opacity per month
		//- 				li.w3-light-grey.w3-padding-24
		//- 					button.w3-button.w3-black.w3-padding-large Sign Up
		// Contact Section
		#contact.w3-container.w3-light-grey(style='padding:128px 16px')
			h3.w3-center CONTACTO
			p.w3-center.w3-large Mandanos un mensaje:
			div(style='margin-top:48px')
				p
					i.fa.fa-map-marker.fa-fw.w3-xxlarge.w3-margin-right
					|  La Paz, BOLIVIA				
				p
					i.fa.fa-envelope.fa-fw.w3-xxlarge.w3-margin-right  
					|  Email: info@bht.com.bo
				br
				form(action='/action_page.php', target='_blank')
					p
						input.w3-input.w3-border(type='text', placeholder='Nombre', required='', name='Name')
					p
						input.w3-input.w3-border(type='text', placeholder='Email', required='', name='Email')
					p
						input.w3-input.w3-border(type='text', placeholder='Asunto', required='', name='Subject')
					p
						input.w3-input.w3-border(type='text', placeholder='Mensaje', required='', name='Message')
					p
						button.w3-button.w3-black(type='submit')
							i.fa.fa-paper-plane
							|  ENVIAR MENSAJE
				// Image of location/map
				img.w3-image.w3-greyscale(src='/w3images/map.jpg', style='width:100%;margin-top:48px')
		// Footer
		footer.w3-center.w3-black.w3-padding-64
			a.w3-button.w3-light-grey(href='#home')
				i.fa.fa-arrow-up.w3-margin-right
				| Subir
			.w3-xlarge.w3-section
				i.fa.fa-facebook-official.w3-hover-opacity
				i.fa.fa-instagram.w3-hover-opacity
				i.fa.fa-snapchat.w3-hover-opacity
				i.fa.fa-pinterest-p.w3-hover-opacity
				i.fa.fa-twitter.w3-hover-opacity
				i.fa.fa-linkedin.w3-hover-opacity
			//- p
			//- 	| Powered by 
			//- 	a.w3-hover-text-green(href='https://www.w3schools.com/w3css/default.asp', title='W3.CSS', target='_blank') w3.css
		script.
			// Modal Image Gallery
			function onClick(element) {
			document.getElementById("img01").src = element.src;
			document.getElementById("modal01").style.display = "block";
			var captionText = document.getElementById("caption");
			captionText.innerHTML = element.alt;
			}
			// Toggle between showing and hiding the sidebar when clicking the menu icon
			var mySidebar = document.getElementById("mySidebar");
			function w3_open() {
			if (mySidebar.style.display === 'block') {
			mySidebar.style.display = 'none';
			} else {
			mySidebar.style.display = 'block';
			}
			}
			// Close the sidebar with the close button
			function w3_close() {
			mySidebar.style.display = "none";
			}
