<!DOCTYPE html>
html(lang="en")
    head
        include partials/header
    body
        
            h1= nombrePagina                                
            p Ingresa tu nueva contrase単a
            form(method="post")
                
                    label(for="password")  Nueva Contrase単a
                    input(type="password", name="password", placeholder="Nueva Contrase単a")
                    br
                    input.boton(type="submit", value="Restablecer Contrase単a")
                
                
