<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./email.css    
    body

        h2  Restablecer Contraseña
        p   Hola, has solicitado restablecer tu contraseña, haz clic en el siguiente enlace para continuar: 
        a(href=`${resetUrl}`) Ir a restablecer la contraseña
        p   Este enlace estará disponible durante 30 minutos, pasado este tiempo deberás solicitar uno nuevo.
        p   Si el enlace no funciona, visita:  #{resetUrl}
        p   Si no solicitaste restablecer tu contraseña, ignora este correo.